<h1> <%= @game.name  %> </h1>
<p> <%= @game.summary %> </p>
<ul>
  <li>Rating: <%= @game.rating %> </li>
  <li>Release date: <%= @game.release_date %> </li>
  <li>Platform(s): 
    <%= @game.platforms.map(&:name).join(", ") %>
  </li>
  <li>Genre(s): 
    <%= @game.genre.map(&:name).join(", ") %>
  </li>
</ul>

<%= link_to "Back to games", games_path %>
<%= link_to "Delete this game", game_path(@game), method: :delete, data: {confirm: "Really delete the game?"} %>